/* Se ocultan botones que trae por defecto SCORM */

#scorm_toc_toggle,
#scorm_navpanel,
#scorm_toc {
    display: none !important;
}

#scorm_content {
    width: 100% !important;
}


/* Cambio del modelo de caja para maquetar teniendo 
en cuenta border y padding dentro del tamaño de elementos */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* Personaliza tipografia para uso general */

@font-face {
    font-family: 'Century-Gothic';
    src: local('Century-Gothic'), url(../fonts/CenturyGothic.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Century-Gothic';
}

body {
    background-image: url(../assets/img_portada/tortuga-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}


/* Define variables globales para el estilo del RED */

:root {
    --title-size: 2.5rem;
    --subtitle-size: 2rem;
    --text-size: 1rem;
    --title-color: #000;
    --subtitle-color: #abc;
    --text-color: #000;
    --first-color: #228b22;
    --second-color: #75c775;
    --color-primary: #FFFF;
}


/*************************************/

.Portada__fondo {
    height: 100vh;
}

img.Portada__banner--img {
    width: 45vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
}

img.Portada__log--img {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0px;
    width: 25%;
}

main.Portada {
    position: relative;
}

img.footer--img {
    padding: 0;
    width: 34.375rem;
    margin: 0;
}

footer.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 3.562rem;
}

h1.footer--text {
    position: absolute;
    font-size: 0.65rem;
    top: 56%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    width: 75%;
}

h1.Portada--title {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    font-size: 2.5rem;
}

hr.Portada--lineEnd {
    position: absolute;
    z-index: 3;
    top: 56%;
    left: 18%;
    border-bottom: 1px solid var(--color-primary);
    width: 24%;
    transform: translate(-50%, -50%);
}

a.Portada__button {
    position: absolute;
    z-index: 4;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 300px;
}

img.Portada__button--img {
    width: 100%;
}


/*****************************************/


/****** MEDIA QUERIES PARA COMPUTADORAS ******/

@media screen and (max-width:1920px) {
    h1.Portada--title {
        font-size: 4.5rem;
    }
}

@media screen and (max-width:1440px) {
    h1.Portada--title {
        font-size: 3.2rem;
    }
    a.Portada__button {
        width: 250px;
    }
}


/****** MEDIA QUERIES PARA PORTATILES ******/

@media screen and (max-width:1366px) {
    h1.Portada--title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:1280px) {
    a.Portada__button {
        width: 320px;
    }
}

@media screen and (max-width:1024px) {
    h1.Portada--title {
        font-size: 2.5rem;
    }
}


/****** MEDIA QUERIE PARA TABLETS ******/

@media screen and (max-width:768px) {}


/****** MEDIA QUERIES PARA CELULARES ******/

@media screen and (max-width:425px) {}

@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}