/* Se ocultan botones que trae por defecto SCORM */

#scorm_toc_toggle,
#scorm_navpanel,
#scorm_toc {
    display: none !important;
}

#scorm_content {
    width: 100% !important;
}


/* Cambio del modelo de caja para maquetar teniendo 
en cuenta border y padding dentro del tamaño de elementos */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* Personaliza tipografia para uso general */

@font-face {
    font-family: 'Century-Gothic';
    src: local('Century-Gothic'), url(../fonts/CenturyGothic.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Century-Gothic';
}

body {
    background-image: url(../assets/img_contenido/fondo-transparente.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Define variables globales para el estilo del RED */

:root {
    --title-size: 2.5rem;
    --subtitle-size: 2rem;
    --text-size: 1rem;
    --title-color: #000;
    --subtitle-color: #abc;
    --text-color: #000;
    --first-color: #036d35;
    --second-color: #75c775;
    --color-primary: #FFFF;
}


/*************************************/

header.Header__contenido {
    display: flex;
    height: 7.5rem;
}

img.Header__logo--img {
    height: 155%;
    margin-right: 6%;
    object-fit: contain;
    margin-left: 4%;
}

.Header__home {
    position: relative;
}

img.Header__home--boton {
    position: absolute;
    top: 65%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 36%;
}

img.Header__home--fondo {
    width: 60%;
    height: auto;
}

img.Header__barra--img {
    width: 60%;
}

figure.Header__barra {
    padding: 1.125rem 1.25rem;
    padding-left: 3.3125rem;
}


/* header nav**/

.header__conteiner_menu {
    position: relative;
    width: 40%;
}

nav.Header__nav {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: url(../assets/img_contenido/barra.png) no-repeat;
    background-size: 100% 50px;
    height: 50px;
    object-fit: cover;
}

nav.Header__nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 13px;
}

nav.Header__nav li a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
}

nav.Header__nav a {
    padding: 0 10px;
}

nav.Header__nav ul li {
    border-right: 1px solid var(--color-primary);
}

nav.Header__nav ul li:last-child {
    border-right: 1px solid transparent;
}

img.Header__menu--icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 4%;
    transform: translate(-50%, -50%);
    width: 8px;
    cursor: pointer;
}

nav.Header__nav ul li:hover {
    background: var(--first-color);
}


/**Loader footer**/

.conteiner__loader {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

img.conteiner__loader--back {
    width: 12em;
}

img.conteiner__loader--front {
    width: 4.6875rem;
    position: absolute;
    top: 47%;
    left: 42%;
    transform: translate(-50%, -50%);
}

h1.conteiner__loader--num {
    position: absolute;
    top: 47%;
    left: 43%;
    color: var(--first-color) !important;
    transform: translate(-50%, -50%);
    font-size: var(--text-size);
}


/**contenido**/

.container__content {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

img.container__content_right--img {
    height: 70vh;
}

.sub_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container__content_left p {
    font-family: 'Century-Gothic';
}


/**Footer**/

.Footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.Footer__content--img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: url(../assets/img_contenido/footer.png) no-repeat;
    background-size: 100% 50px;
    height: 50px;
}

h4.Footer__content--title {
    color: var(--color-primary) !important;
    font-size: 14px;
}


/*****************************************/


/****** MEDIA QUERIES PARA COMPUTADORAS ******/

@media screen and (max-width:1810px) {}

@media screen and (max-width:1525px) {}

@media screen and (max-width:1366px) {
    .header__conteiner_menu {
        position: relative;
        width: 42%;
    }
    img.Header__logo--img {
        height: 155%;
        margin-right: 5%;
        margin-left: 0%;
    }
}

@media screen and (max-width:1256px) {
    h4.Footer__content--title {
        font-size: 10px;
    }
    img.Header__menu--icon {
        right: 3%;
    }
    .header__conteiner_menu {
        width: 35%;
    }
    img.Header__logo--img {
        height: 145%;
        margin-right: 2%;
        margin-left: -2%;
    }
    img.container__content_right--img {
        object-fit: cover;
        height: 70vh;
    }
    .Header__home {
        margin-right: 0;
    }
    .header__conteiner_menu.animate__animated.animate__backInDown.animate__delay-1s {
        width: 48%;
        object-fit: cover;
    }
    nav.Header__nav li a {
        font-size: 18px;
    }
    /*loader*/
    img.conteiner__loader--back {
        width: 9em;
    }
    img.conteiner__loader--front {
        width: 3.6875rem;
    }
}

@media screen and (max-width:971px) {
    img.Header__logo--img {
        height: 125%;
        margin-right: -3%;
        margin-left: -6%;
    }
    .header__conteiner_menu {
        position: relative;
        width: 50%;
        left: 5%;
        top: -15%;
    }
    h4.Footer__content--title {
        font-size: 10px;
    }
    .container__content {
        max-width: 800px;
    }
    img.container__content_right--img {
        object-fit: cover;
        width: 70vh;
    }
    /*menu*/
    img.Header__logo1366--img {
        margin-right: -3%;
        height: 115%;
    }
    img.Header__home_1366--fondo {
        width: 76%;
    }
    nav.Header__nav {
        top: 62%;
    }
    nav.Header__nav ul {
        padding-top: 16px;
    }
    nav.Header__nav li a {
        font-size: 15px;
    }
    img.Header__menu--icon {
        top: 62%;
    }
}


/****** MEDIA QUERIE PARA TABLETS ******/

@media screen and (max-width:768px) {}


/****** MEDIA QUERIES PARA CELULARES ******/

@media screen and (max-width:425px) {}

@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}