/* Cambio del modelo de caja para maquetar teniendo 
en cuenta border y padding dentro del tamaño de elementos */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* Personaliza tipografia para uso general */

@font-face {
    font-family: 'Century-Gothic';
    src: local('Century-Gothic'), url(../fonts/CenturyGothic.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Century-Gothic';
}

body {
    background-image: url(../assets/img_portada/1920x1080/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: right; */
    height: 100vh;
    background-attachment: fixed;
}


/* Define variables globales para el estilo del RED */

:root {
    --title-size: 2.5rem;
    --subtitle-size: 2rem;
    --text-size: 1rem;
    --title-color: #000;
    --subtitle-color: #abc;
    --text-color: #000;
    --first-color: #228b22;
    --second-color: #75c775;
    --color-primary: #FFFF;
}


/*************************************/

.Portada__fondo {
    height: 100vh;
}

img.Portada__banner1920--img {
    width: 48vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
}

img.Portada__banner1366--img {
    display: none;
}

img.Portada__log1920--img {
    /* position: absolute;
    z-index: 3;
    left: 0;
    top: 0px;
    width: 32%; */
    position: absolute;
    z-index: 3;
    left: 4rem;
    top: 0px;
    width: 23%;
}

img.Portada__log1366--img {
    display: none;
}

main.Portada {
    position: relative;
}

img.footer--img1920 {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: -96px;
}

img.footer--img1366 {
    padding: 0;
    width: 34.375rem;
    margin: 0;
    display: none;
}

footer.footer {
    position: relative;
}

h1.footer--text {
    position: absolute;
    font-size: 1rem;
    top: -44px;
    left: 78%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    width: 37%;
}

h1.Portada--title {
    position: absolute;
    z-index: 2;
    top: 54%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    font-size: 4.3rem;
}

h1.Portada--title1 {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 20.5%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    font-size: 1.5rem;
}

hr.Portada--lineEnd {
    position: absolute;
    z-index: 3;
    top: 48%;
    left: 21.5%;
    border-bottom: 1px solid var(--color-primary);
    width: 26%;
    transform: translate(-50%, -50%);
}

a.Portada__button {
    position: absolute;
    z-index: 4;
    top: 72%;
    left: 33%;
    transform: translate(-50%, -50%);
    width: 25%;
}

img.Portada__button--img1920 {
    width: 100%;
}

img.Portada__button--img1366 {
    display: none;
}

img.Portada__avatar1920--img {
    position: absolute;
    z-index: 5;
    top: 85%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 3%;
}

img.Portada__avatar1366--img {
    display: none;
}

h1.Portada__name {
    position: absolute;
    z-index: 5;
    top: 92%;
    left: 12%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    font-size: 1.5rem;
}

hr.Portada--lineEndAvatar {
    position: absolute;
    z-index: 5;
    top: 94%;
    left: 12.5%;
    border-bottom: 1px solid var(--color-primary);
    width: 10%;
    transform: translate(-50%, -50%);
}

h1.Portada__estudiante {
    position: absolute;
    z-index: 5;
    top: 95.5%;
    left: 10.5%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    font-size: 1.2rem;
}


/*****************************************/


/****** MEDIA QUERIES PARA COMPUTADORAS ******/

@media screen and (max-width:1495px) {
    img.Portada__log1920--img {
        left: 2rem;
        width: 25%;
    }
    h1.Portada--title1 {
        font-size: 1.3rem;
        left: 21%;
    }
    h1.Portada--title {
        font-size: 3.7rem;
        left: 20.5%;
    }
    h1.footer--text {
        font-size: 1.1rem;
        top: -44px;
        left: 72%;
        width: 48%;
    }
    h1.Portada__name {
        font-size: 1.2rem;
    }
    h1.Portada__estudiante {
        font-size: 1rem;
    }
}


/****** MEDIA QUERIES PARA PORTATILES ******/

@media screen and (max-width:1231px) {
    h1.Portada--title {
        font-size: 3.8rem;
        left: 25.5%;
    }
    body {
        background-image: url(../assets/img_portada/1366x768/fondo.png);
    }
    img.Portada__banner1920--img {
        display: none;
    }
    img.Portada__banner1366--img {
        display: block;
        width: 61vw;
        height: 100vh;
        position: absolute;
        z-index: 1;
        top: 0;
    }
    img.Portada__log1920--img {
        display: none;
    }
    img.Portada__log1366--img {
        position: absolute;
        z-index: 3;
        left: 1rem;
        top: 0px;
        width: 33%;
        display: block;
    }
    h1.Portada--title1 {
        left: 27%;
        font-size: 1.4rem;
    }
    hr.Portada--lineEnd {
        width: 25rem;
        left: 27%;
    }
    img.Portada__button--img1920 {
        display: none;
    }
    img.Portada__button--img1366 {
        display: block;
        width: 100%;
    }
    img.footer--img1920 {
        display: none;
    }
    img.footer--img1366 {
        display: block;
        top: -55px;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
    }
    h1.footer--text {
        font-size: 0.6rem;
        top: -29px;
        left: 79%;
        width: 39em;
    }
    h1.Portada__name {
        left: 13%;
    }
    h1.Portada__estudiante {
        left: 11.5%;
    }
    img.Portada__avatar1920--img {
        display: none;
    }
    img.Portada__avatar1366--img {
        display: block;
        position: absolute;
        z-index: 5;
        top: 86%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 3%;
    }
    a.Portada__button {
        width: 32%;
        left: 41%;
    }
    hr.Portada--lineEndAvatar {
        width: 11%;
        left: 13.5%;
    }
}

@media screen and (max-width:952px) {
    h1.Portada--title1 {
        /* left: 26%; */
        font-size: 1.2rem;
    }
    h1.Portada--title {
        font-size: 3.2rem;
    }
    hr.Portada--lineEndAvatar {
        width: 13%;
    }
    hr.Portada--lineEnd {
        width: 21.5rem;
    }
    img.Portada__log1366--img {
        width: 38%;
        left: 0;
    }
    h1.Portada__name {
        left: 13.5%;
    }
    h1.footer--text {
        font-size: 0.7rem;
        top: -28px;
        left: 74%;
        width: 39em;
    }
}